@import "src/assets/variables";

.overlay-form {
    display: flex;
    justify-content: center;
}

.container {
    background: $gradient-2;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
    width: 500px
}

.title {
    @include margin-element(4px)
}

button {
    @include margin-element(4px)
}

input {
    @include margin-element(4px)
}

.helper-text-red {
    font-size: 10px;
    color: red;
}

.mat-form-field {
    display: block;
}