<div class="overlay">
    <div class="container">
      <div class="table-fields">
        <div class="form-edit-form pointer grad-1" (click)="toggleGeneralStylesForm()">Form Styles</div>
          <form *ngIf="generalFormIsVisible" (ngSubmit)="onGeneralSubmit()" [formGroup]="generalStylesForm" class="example-form">
            <mat-form-field class="full-width mat-form-el" appearance="fill">
              <mat-label>Form Label</mat-label>
              <input matInput formControlName="label">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Text Color</mat-label>
              <input matInput type="color" formControlName="textColor">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Background Color</mat-label>
              <input matInput type="color" formControlName="backgroundColor">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Border Type</mat-label>
              <mat-select formControlName="borderType">
                <mat-option *ngFor="let border of borders" [value]="border">
                  {{border}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Border Color</mat-label>
              <input matInput type="color" formControlName="borderColor">
            </mat-form-field>
            <button type='submit' [disabled]="!generalStylesForm.valid" class='pointer form-element'>Apply</button>
          </form>

          <div class="form-edit-form pointer grad-1" (click)="toggleElementStylesForm()">Element Styles</div>
          <form *ngIf="elementFormIsVisible && elementStylesBase[counter]" (ngSubmit)="onElementSubmit(counter)" [formGroup]="elementStylesForm" class="example-form">
            <mat-form-field class="full-width mat-form-el" appearance="fill">
              <mat-label>Label</mat-label>
              <input matInput formControlName="placeholder">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Width</mat-label>
              <input matInput type="number" formControlName="width">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Height</mat-label>
              <input matInput type="number" formControlName="height">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Border Style</mat-label>
              <mat-select formControlName="border">
                <mat-option *ngFor="let border of borders" [value]="border">
                  {{border}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Font Weight</mat-label>
              <mat-select formControlName="fontWeight">
                <mat-option *ngFor="let font of fontWeights" [value]="font">
                  {{font}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width mat-form-el" appearance="fill">
              <mat-label>Font Size</mat-label>
              <input matInput type="number" formControlName="fontSize">
            </mat-form-field>
            <mat-form-field *ngIf="elementStylesBase[counter].inputType == EInputType.Select || elementStylesBase[counter].inputType == EInputType.Checkbox" class="half-width mat-form-el" appearance="fill">
              <mat-label>Add field</mat-label>
              <input placeholder='split by ","' matInput formControlName="newField">
            </mat-form-field>
            <section *ngIf="elementStylesBase[counter].inputType !== EInputType.Checkbox && elementStylesBase[counter].inputType !== EInputType.Button" class="mat-form-el" appearance="fill">
              <mat-checkbox matInput formControlName="required">Required</mat-checkbox>
            </section>
            <div class="button-group">
              <button type='submit' [disabled]="!elementStylesForm.valid" class='pointer form-element'>Apply</button>
              <button (click)="deleteElement(counter)" class='pointer form-element'>Delete</button>
            </div>
          </form>
      </div>

      <div [ngStyle]="{'background': generalStyles.backgroundColor, 'border': generalStyles.borderType, 'border-color': generalStyles.borderColor}" class="table-fields">
        <div class="list-container">
          <div class="label" [ngStyle]="{'color': generalStyles.textColor}">{{generalStyles.label}}</div>
            <div
              cdkDropList
              #firstList="cdkDropList"
              [cdkDropListData]="dropSection"
              [cdkDropListConnectedTo]="[secondList]"
              class="list-container"
              (cdkDropListDropped)="dropped($any($event))">
              <ng-container *ngFor="let item of dropSection">
                <div class="flex" [ngClass]="{'choised': +item === counter}" (click)="changeCounter(+item)" >
                  <app-switch-builder 
                  [item]="elementStylesBase[+item]"
                  [styles]="elementStyles(elementStylesBase[+item])"
                  >
                  </app-switch-builder>
                <span *ngIf="elementStylesBase[+item].required" class="red-small">*</span>
              </div>
              </ng-container>
            </div>
          </div>
        </div>


        <div class="table-fields">
            <div class="list-container">
                <div
                  cdkDropList
                  #secondList="cdkDropList"
                  [cdkDropListData]="dragSection"
                  [cdkDropListConnectedTo]="[firstList]"
                  class="list-container">
                  <div class="element draggable" *ngFor="let item of dragSection" cdkDrag>{{item}}</div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="temperature">
  <input customOnlyNumbers [(ngModel)]="temperature">
  <div>
    {{temperature | customTemperature: 'F'}}
  </div>
</div>


