@import "src/assets/variables";

.container {
    @include margin-element(6px);
    border-radius: 6px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.overlay {
    display: flex;
    justify-content: center;
    flex: 1;
}

.table-fields {
    border: 1px solid $light;
    margin: 15px;
    width: 400px;
    border-radius: 4px;
    max-width: 100%;
    min-height: 40px;
    display: block;
    overflow: hidden;
}

.element {
    border-bottom: 1px solid $light;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: $textRegular;
}

.form-edit-form {
    border-bottom: 1px solid $light;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: $textRegular;
}

.draggable {
    cursor: grab;
}

.pointer {
    cursor: pointer;
}

.button-group {
    display: flex;
}

.list-container {
    width: 100%;
    height: 100%;
    min-height: 100px;
}

.grad-1 {
    background: $gradient;
}

.form-element {
    margin: 6px;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: $textRegular;
}

.label {
    font-size: $textBig;
    padding: 8px;
    justify-content: center;
    border-bottom: 1px solid $light;
}

.choised {
    background-color: $light;
}

.full-width {
    width: 98%;
}

.half-width {
    width: 48%;
}

.mat-form-el {
    padding: 1%;
}

.block {
    width: 100%;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: $shadows
  }
  
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.element:last-child {
    border: none;
}

.temperature {
    background-color: $light;
    width: 300px;
    height: 100px;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

.table-fields.cdk-drop-list-dragging .element:not(.cdk-drag-placeholder) {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.red-small {
    font-size: $textSmall;
    color: red;
}

.flex {
    display: flex;
}