<div class="overlay">
    <div class="container">
      <div class="table-fields">
        <div class="form-edit-form pointer grad-1" (click)="toggleGeneralStylesForm()">Form Styles</div>
          <form *ngIf="generalFormIsVisible" (ngSubmit)="onSubmit()" [formGroup]="generalStylesForm" class="example-form">

            <mat-form-field class="full-width mat-form-el" appearance="fill">
              <mat-label>Form Label</mat-label>
              <input matInput formControlName="label">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Text Color</mat-label>
              <input matInput type="color" formControlName="textColor">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Background Color</mat-label>
              <input matInput type="color" formControlName="backgroundColor">
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Border Type</mat-label>
              <mat-select formControlName="borderType">
                <mat-option *ngFor="let border of borders" [value]="border">
                  {{border}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="half-width mat-form-el" appearance="fill">
              <mat-label>Border Color</mat-label>
              <input matInput type="color" formControlName="borderColor">
            </mat-form-field>

            <button type='submit' [disabled]="!generalStylesForm.valid" class='form-element'>Apply</button>
          </form>
      </div>


<!-- second block -->


      <div [ngStyle]="{'background': generalStyles.backgroundColor, 'border': generalStyles.borderType, 'border-color': generalStyles.borderColor}" class="table-fields">
        <div class="list-container">
          <div class="label" [ngStyle]="{'color': generalStyles.textColor}">{{generalStyles.label}}</div>
            <div
              cdkDropList
              #firstList="cdkDropList"
              [cdkDropListData]="dropSection"
              [cdkDropListConnectedTo]="[secondList]"
              class="list-container"
              (cdkDropListDropped)="dropped($event)">
              <ng-container *ngFor="let item of dropSection, index as i">
                <div [ngClass]="{'choised': i === idFormStyles}" (click)="onClick(item, i)" >
                <ng-container *ngIf="item.type === inputEnum.Input">
                    <input 
                    cdkDrag 
                    [cdkDragDisabled]="true" 
                    [placeholder]="item.placeholder" 
                    class='form-element'
                    [ngStyle]="elementStyles(item)" 
                    [required]='item.required'
                    >
                </ng-container>

                <ng-container *ngIf="item.type === inputEnum.Textarea">
                  <textarea 
                  [ngStyle]="elementStyles(item)"  
                  [required]='item.required'
                  cdkDrag [cdkDragDisabled]="true" [placeholder]="item.placeholder" class='form-element' name="textarea" rows="1" cols="19"></textarea>
                </ng-container>

                <ng-container *ngIf="item.type === inputEnum.Button">
                  <button 

                  cdkDrag 
                  [cdkDragDisabled]="true" 
                  class='form-element'
                  [ngStyle]="elementStyles(item)"  
                  >{{item.placeholder}}</button>
                </ng-container>

                <ng-container *ngIf="item.type === inputEnum.Checkbox">
                  <div>
                    <label 
                    cdkDrag 
                    [cdkDragDisabled]="true" 
                    class='form-element'
                    [ngStyle]="elementStyles(item)"  
                    >{{item.placeholder}}</label>
                    <ng-container *ngFor="let option of item.options, index as o">
                      <div>
                        <input type='checkbox'> {{option}}
                      </div>
                    </ng-container>
                  </div>

                </ng-container>

                <ng-container *ngIf="item.type === inputEnum.Select">
                  <select 
                  cdkDrag 
                  [cdkDragDisabled]="true" 
                  label="item.label" 
                  class='form-element' 
                  name="select"
                  [ngStyle]="elementStyles(item)"  
                  [required]='item.required'
                  >
                    <option disabled selected>{{item.placeholder}}</option>
                    <ng-container *ngFor="let option of item.options, index as o">
                      <option>{{option}}</option>
                    </ng-container>
                  </select>
                </ng-container>
              </div>
              </ng-container>
            </div>
          </div>
        </div>






<!-- third block -->




        <div class="table-fields">
            <div class="list-container">
                <div
                  cdkDropList
                  #secondList="cdkDropList"
                  [cdkDropListData]="dragSection"
                  [cdkDropListConnectedTo]="[firstList]"
                  class="list-container">
                  <div class="element draggable" *ngFor="let item of dragSection" cdkDrag>{{item}}</div>
                </div>
              </div>
        </div>
        
    </div>
</div>
