.navbar {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    border: 1px solid #C2D6E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 0 250px;
}

.big-size {
    font-size: 27px;
}

.clickable { 
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
}

.clickable:hover {
    background-color: #c2d6e14f;
}

.blue {
    color: #829DAC;
}

.small-text {
    font-weight: 200;
    font-size: 16px;
}

.auth-block {
    padding: 0 250px;
}